<form [formGroup]="form" (ngSubmit)="onsubmit()">
  <h2>{{form.controls.first_name.value}} {{form.controls.last_name.value}} Details</h2>
  <img src="{{form.controls.avatar.value}}" alt="">
  <div><span>id:</span>{{form.controls.id.value}}</div>
  <div><span>name:</span>{{form.controls.first_name.value}} {{form.controls.last_name.value}}</div>
  <div class="">
    <label for="name">FirstName:</label>
    <input type="text" id= "name" formControlName = "first_name" >
  </div>
  <div class="">
    <label for="name">LastName:</label>
    <input type="text" id= "name" formControlName = "last_name" >
  </div>
  <div class="">
    <label for="name">Email:</label>
    <input type="text" id= "name" formControlName = "email" >
  </div>
  <button class="btn btn-primary"(click)="goBack()">Go back</button>
  <button class="btn btn-primary"(click)="save(
    form.controls.id.value,
    form.controls.first_name.value,
    form.controls.last_name.value,
    form.controls.email.value,
    form.controls.avatar.value)">Save</button>

 </form>
<!-- {{dataCustomer.first_name}}{{ dataCustomer.last_name}}

<div *ngIf="customers$ | async as dataCustomer">
  <h2>{{dataCustomer.first_name}}{{ dataCustomer.last_name}} Details</h2>
  <div><span>id:</span>{{dataCustomer.id}}</div>
  <div><span>name:</span>{{dataCustomer.first_name}}{{ dataCustomer.last_name}} </div>

  <div class="">
    <label for="name">FirstName:</label>
    <input type="text" id= "name" [(ngModel)]="dataCustomer.first_name">
  </div>
  <div class="">
    <label for="name">LastName:</label>
    <input type="text" id= "name" [(ngModel)]="dataCustomer.last_name">
  </div>
  <div class="">
    <label for="name">Email:</label>
    <input type="text" id= "name" [(ngModel)]="dataCustomer.email">
  </div>
  <button (click)="goBack()">Go back</button>
  <button (click)="save(dataCustomer)">Save</button>
</div> -->
