

  <app-customers></app-customers>
  <br>
  <div class="container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="firstName">FirstName: </label>
        <input type="text" placeholder="Enter First Name" class="form-control" id="firstName" formControlName="first_name" #first_name>
        <span
          *ngIf="form.controls.first_name.touched && form.controls.first_name.errors?.required">
            Please enter firstName.
        </span>
        <span
          *ngIf="form.controls.first_name.touched && form.controls.first_name.errors?.checkMinLength">
            FirstName length is too short.
        </span>
      </div>
      <div class="form-group">
        <label for="lastName">LastName: </label>
        <input type="text" placeholder="Enter Last Name" class="form-control" id="lastName" formControlName="last_name" #last_name>
        <span
          *ngIf="form.controls.last_name.touched && form.controls.last_name.errors?.required">
          Please enter lastName.
      </span>
         <span
          *ngIf="form.controls.last_name.touched && form.controls.last_name.errors?.checkMaxLength ">
          LastName length is too long.
         </span>
      </div>
      <div class="form-group">
        <label for="email">Email: </label>
        <input type="text" placeholder="Enter Email" class="form-control" id="email" formControlName="email" #email>
        <span
           *ngIf="form.controls.email.touched && form.controls.email.errors?.required">
             Please enter email address.
       </span>
       <!-- <span
         *ngIf="form.controls.email.touched && form.controls.email.errors?.pattern">
           Email address not well formed.
       </span> -->
       <span
       *ngIf="form.controls.email.touched && form.controls.email.errors?.validateEmail">
         Email address not well formed.
     </span>
      </div>
      <div class="form-group">
        <button
        [routerLink]="['/customers/gird']"
         (click)="addCustomer(
          form.controls.first_name.value,
          form.controls.last_name.value,
          form.controls.email.value
          )"
         class="btn btn-primary"
         >Add Customer</button>
      </div>
    </form>
  </div>


